@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
@import "../main.scss/vendors/bootstrap.min.css";
@font-face {
  font-family: "Al Qabas";
  src: url("../font/AlQabas-Light.eot");
  src: url("../font/AlQabas-Light.eot?#iefix") format("embedded-opentype"), url("../font/AlQabas-Light.woff2") format("woff2"), url("../font/AlQabas-Light.woff") format("woff"), url("../font/AlQabas-Light.ttf") format("truetype"), url("../font/AlQabas-Light.svg#AlQabas-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Al Qabas";
  src: url("../font/AlQabas-Regular.eot");
  src: url("../font/AlQabas-Regular.eot?#iefix") format("embedded-opentype"), url("../font/AlQabas-Regular.woff2") format("woff2"), url("../font/AlQabas-Regular.woff") format("woff"), url("../font/AlQabas-Regular.ttf") format("truetype"), url("../font/AlQabas-Regular.svg#AlQabas-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Al Qabas";
  src: url("../font/AlQabas-Bold.eot");
  src: url("../font/AlQabas-Bold.eot?#iefix") format("embedded-opentype"), url("../font/AlQabas-Bold.woff2") format("woff2"), url("../font/AlQabas-Bold.woff") format("woff"), url("../font/AlQabas-Bold.ttf") format("truetype"), url("../font/AlQabas-Bold.svg#AlQabas-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  line-height: 1;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
  color: #000;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  outline: 0 !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.mb--95 {
  margin-bottom: -95px;
}

html,
body {
  outline: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 154.4%;
}

a:focus {
  outline: none;
  outline-offset: inherit;
}

button:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: transparent;
}

p {
  margin-bottom: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin-left: 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  outline-offset: inherit;
}

.btn_center {
  display: block;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.cta-links {
  text-decoration: underline;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 10px;
}

.caption h2 {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: normal;
}
.caption p {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}

.btn-secondary {
  background-color: #CD836D;
  padding: 0;
  border: 1px solid #CD836D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  border-radius: 4px;
  height: 54px;
  padding: 0 29px;
}
.btn-secondary span {
  display: block;
  margin-right: 10px;
}
.btn-secondary span svg {
  width: 20px;
  height: 20px;
  display: block;
}

.btn-white {
  background-color: #fff;
  color: #000;
}

h3 {
  color: #06222d;
  font-size: 62px;
  text-transform: uppercase;
  line-height: 68px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  color: #454545;
}

/****** SERVICES SEC ******/
.servics-sec {
  background-color: rgba(107, 107, 119, 0.1);
  padding: 158px 0 152px;
}

.servics-inner {
  margin: 34px 0 0 0;
}
.servics-inner .text-box h3 {
  font-size: 26px;
  line-height: 1;
}
.servics-inner .text-box p {
  color: #424242;
  margin: 24px 0 35px 0;
  max-width: 540px;
  width: 100%;
}

.title {
  text-align: left;
}
.title h2 {
  color: #424242;
  font-size: 62px;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Al Qabas";
  font-weight: bold;
  margin: 0 0 25px 0;
}
.title p {
  color: #424242;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 52px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
}

.shape-bottom {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.shape-bottom svg {
  height: 42px;
  width: 100%;
  display: block;
}

/****** VACANT PILOT SEC ******/
.vacant-pilot-sec {
  background-color: #285852;
  padding: 66px 0;
  position: relative;
}
.vacant-pilot-sec .text-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vacant-pilot-sec .text-box .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}
.vacant-pilot-sec .text-box .media h4 {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 16px;
}
.vacant-pilot-sec .text-box .media h4 span {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
}

.vacant-shape {
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.vacant-shape svg {
  height: 42px;
  width: 100%;
  display: block;
}
.vacant-shape.vacant-shape2 {
  bottom: -60px;
}
.vacant-shape.vacant-shape2 svg {
  height: 60px;
}

/***** ARRIVED DRONE *****/
.arrived-drone-sec {
  background-color: #6B6B77;
}
.arrived-drone-sec .image-holder {
  position: relative;
  height: 800px;
}
.arrived-drone-sec .image-holder::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.arrived-drone-sec .image-holder img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.arrived-drone-sec .image-holder h4 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 62px;
  text-align: right;
  text-transform: uppercase;
  line-height: 68px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
  right: 0;
  width: 100%;
  padding: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}
.arrived-drone-sec .text-box {
  padding: 140px 140px 140px 140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.arrived-drone-sec .text-box h4 {
  font-size: 42px;
  color: #fff;
  text-transform: uppercase;
  line-height: 52px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}
.arrived-drone-sec .text-box p {
  color: #fff;
  margin: 30px 0 34px;
}

/***** ADVANTAGE DRONE *****/
.advantage-sec {
  background-color: rgba(107, 107, 119, 0.1);
  padding: 130px 0;
}
.advantage-sec .text-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage-sec .text-box h3 {
  max-width: 432px;
}
.advantage-sec .text-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 24px 0;
  margin: 0 0 24px 0;
}
.advantage-sec .text-list ul li:last-child {
  margin: 0;
}
.advantage-sec .text-list ul li span {
  max-width: 46px;
  width: 100%;
  margin: 0 16px 0 0px;
}
.advantage-sec .text-list ul li p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

/***** SOLAR SELL SEC ******/
.solar-cell-sec {
  background-color: #3e7299;
  position: relative;
}
.solar-cell-sec .image-holder::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.solar-cell-sec .text-box p {
  margin-bottom: 15px;
}
.solar-cell-sec .vacant-shape {
  bottom: auto;
  top: 0;
}
.solar-cell-sec .vacant-shape svg {
  height: 60px;
}

/***** LET TALK AEC ******/
.let-talk-sec {
  background: url(../images/map_grey.png) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 340px 0 290px;
}
.let-talk-sec::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(205, 131, 109, 0.88);
}
.let-talk-sec .let-talk-left {
  position: relative;
  z-index: 10;
}
.let-talk-sec .let-talk-left h4 {
  color: #fff;
  font-size: 62px;
  text-transform: uppercase;
  line-height: 68px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  margin: 0 0 24px 0;
}
.let-talk-sec .let-talk-left p {
  color: #fff;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 52px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
}
.let-talk-sec .let-talk-right {
  position: relative;
  z-index: 10;
}
.let-talk-sec .let-talk-right p {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 36px 0;
  line-height: 24px;
}

/***** INTENTION SEC ******/
.intention-sec {
  padding: 220px 0 226px;
  background-color: #285852;
}
.intention-sec .intention-left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intention-sec .intention-left h3 {
  color: #fff;
}
.intention-sec .intention-right {
  padding: 0 0 0 31px;
}
.intention-sec .intention-right h4 {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.intention-sec .intention-right p {
  color: #fff;
  margin: 0 0 16px 0;
}
.intention-sec .intention-right p:last-child {
  margin: 0;
}

/******** ABOUT US *****/
.about-us-sec .about-us-left {
  padding: 120px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about-us-sec .about-us-left h4 {
  color: #474747;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 52px;
}
.about-us-sec .about-us-left p {
  color: #474747;
  text-transform: uppercase;
  line-height: 24px;
  margin: 24px 0 32px;
}
.about-us-sec .about-us-right {
  background: url(../images/about-img.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 100px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-us-sec .about-us-right::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.about-us-sec .about-us-right .text-box {
  position: relative;
  z-index: 10;
}
.about-us-sec .about-us-right .text-box h3 {
  color: #fff;
  margin: 0 0 26px 0;
}
.about-us-sec .about-us-right .text-box h4 {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 52px;
}

/***** ESTIMATES FUTURE SEC ******/
.estimated-future-sec {
  background-color: #6B6B77;
  padding: 228px 0;
  position: relative;
}
.estimated-future-sec .estimated-future-left {
  padding: 0 15px;
}
.estimated-future-sec .estimated-future-left p {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 52px;
  max-width: 730px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.estimated-future-sec .estimated-future-right {
  text-align: center;
  height: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.estimated-future-sec .estimated-future-right h3 {
  color: #fff;
}
.estimated-future-sec .estimated-future-right p {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  font-size: 41px;
  line-height: 40px;
}
.estimated-future-sec .vacant-shape {
  bottom: -70px;
}
.estimated-future-sec .vacant-shape SVG {
  height: 70px;
}

/***** GLOBAL REACH SEC *****/
.global-reach-sec {
  padding: 192px 0 110px;
}
.global-reach-sec .text-left h3 {
  color: #3A3A3A;
  margin: 0 0 22px 0;
}
.global-reach-sec .text-left p {
  color: #3A3A3A;
}
.global-reach-sec .text-right p {
  color: #3A3A3A;
  margin-bottom: 14px;
}
.global-reach-sec .text-right .btn-secondary {
  margin-top: 24px;
}

/****** WORKING GROWTH SEc *****/
.working-growth-sec {
  background-color: rgba(107, 107, 119, 0.1);
  position: relative;
  padding: 240px 0;
}
.working-growth-sec .text-left h3 {
  color: #000;
  margin: 0 0 28px 0;
}
.working-growth-sec .text-box {
  padding: 8px 0 0 0;
}
.working-growth-sec .text-box h4 {
  color: #3A3A3A;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
  line-height: 24px;
}
.working-growth-sec .text-box p {
  color: #3A3A3A;
  margin-bottom: 14px;
  max-width: 540px;
  width: 100%;
}

/***** SAFETY STATEMENT SEC *****/
.safety-statement-sec {
  background-color: #285852;
  padding: 250px 0 170px;
}
.safety-statement-sec .statement-left h3 {
  color: #fff;
  margin: 0 0 23px 0;
}
.safety-statement-sec .statement-left p {
  color: #fff;
  margin-bottom: 14px;
  max-width: 639px;
  width: 100%;
}
.safety-statement-sec .text-box p {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.safety-statement-sec .text-box ul {
  padding: 14px 0 23px 23px;
}
.safety-statement-sec .text-box ul li {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 24px;
  position: relative;
  padding-left: 18px;
}
.safety-statement-sec .text-box ul li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

/***** POPULATED SEC *****/
.populated-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.populated-sec img {
  height: 530px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/***** WORK STAND SEC *****/
.work-stand-sec {
  background-color: #6B6B77;
  position: relative;
  padding: 140px 0;
}
.work-stand-sec h3 {
  color: #fff;
}
.work-stand-sec .text-box p {
  color: #fff;
  margin-top: 23px;
}
.work-stand-sec .work-vacant-shape {
  bottom: auto;
  top: -66px;
  -webkit-transform: rotatex(180deg) rotatey(180deg);
          transform: rotatex(180deg) rotatey(180deg);
  width: 100%;
}
.work-stand-sec .work-vacant-shape svg {
  height: 66px;
}

/***** DEVELOPMENT SEC *****/
.development-sec {
  background-color: #616F6E;
  padding: 235px 0 150px;
}
.development-sec .development-left h3 {
  color: #fff;
  margin: 0 0 30px 0;
}
.development-sec .development-left p {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 52px;
}
.development-sec .text-box {
  padding: 0 0 0 50px;
}
.development-sec .text-box ul li {
  margin-bottom: 24px;
  position: relative;
  padding-left: 18px;
}
.development-sec .text-box ul li p {
  color: #fff;
}
.development-sec .text-box ul li p strong {
  display: block;
}
.development-sec .text-box ul li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.development-sec .text-box ul li:last-child {
  margin: 0;
}

/***** CONTACT SEC ******/
.contact-sec {
  background-color: #285852;
  padding: 130px 0;
}
.contact-sec .contact-left .text-box {
  padding-bottom: 43px;
}
.contact-sec .contact-left .text-box h3 {
  color: #fff;
  margin: 0 0 21px 0;
}
.contact-sec .contact-left .text-box p {
  color: #fff;
  max-width: 510px;
  width: 100%;
}
.contact-sec .contact-left ul {
  border-top: 1px dotted #fff;
  padding-top: 30px;
  max-width: 302px;
  width: 100%;
}
.contact-sec .contact-left ul li {
  margin: 0 0 20px 0;
}
.contact-sec .contact-left ul li:last-child {
  margin: 0;
}
.contact-sec .contact-left ul li p {
  color: #fff;
  margin: 0 0 3px 0;
  line-height: 1;
}
.contact-sec .contact-right {
  margin: 20px 0 0 0;
}
.contact-sec .contact-right form .form-group {
  margin-bottom: 15px;
}
.contact-sec .contact-right form .form-group .form-control {
  border: none;
  background-color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  height: 59px;
  color: #000;
  border-radius: 5px;
  padding: 7px 20px;
}
.contact-sec .contact-right form .form-group .form-control::-webkit-input-placeholder {
  color: #000;
}
.contact-sec .contact-right form .form-group .form-control::-moz-placeholder {
  color: #000;
}
.contact-sec .contact-right form .form-group .form-control:-ms-input-placeholder {
  color: #000;
}
.contact-sec .contact-right form .form-group .form-control::-ms-input-placeholder {
  color: #000;
}
.contact-sec .contact-right form .form-group .form-control::placeholder {
  color: #000;
}

.news-sec {
  padding: 65px 0;
}
.news-sec .news-inner h4 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
  color: #3e3e3e;
  margin: 0 0 50px 0;
}

.news-box {
  margin: 20px 0;
}
.news-box .text-box {
  margin: 16px 0 0 0;
}
.news-box .text-box h5 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  color: #54595F;
  margin: 0 0 5px 0;
}
.news-box .text-box span {
  display: block;
  color: #878787;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
}
.news-box .text-box p {
  color: #4B4B4B;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 17px 0 13px 0;
}
.news-box .text-box a {
  font-size: 13px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: #000;
  display: block;
}

.detail-card h3 {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 0.9rem;
}
.detail-card .date {
  margin-bottom: 0.9rem;
}
.detail-card .titleImg {
  margin-bottom: 0.9rem;
}
.detail-card .text-box p {
  margin-bottom: 0.9rem;
}
.detail-card .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -8px 0.9rem;
}
.detail-card .like li {
  padding: 0 8px;
}
.detail-card .like li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-card .like li a i {
  margin-right: 8px;
  line-height: 0;
}
.detail-card .like li a i svg {
  width: 16px;
  height: 16px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}
.navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation a i {
  margin-right: 10px;
}
.navigation a span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  text-transform: uppercase;
  color: #878787;
}
.navigation a span.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navigation a span.media strong {
  font-weight: bold;
  color: #000;
  font-weight: 700;
}

.heroServices .heroFlag {
  padding: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/ktvdroneflag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heroServices .heroFlag:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.4;
}
.heroServices .heroFlag .titleText {
  position: relative;
  z-index: 5;
}
.heroServices .heroFlag .titleText h2 {
  font-size: 62px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.heroServices .heroFlag .titleText p {
  font-size: 42px;
  text-transform: uppercase;
  color: #fff;
  line-height: 52px;
}
.heroServices .text-box {
  padding: 100px;
  background: #424242;
}
.heroServices .text-box p {
  color: #fff;
  margin-bottom: 20px;
}

.method {
  background: #285852;
  color: #fff;
  padding: 240px 0 100px 0;
}
.method ol li {
  margin-bottom: 20px;
}
.method .text-box h3 {
  color: #fff;
}
.method h4 {
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.4;
  margin-bottom: 0.9rem;
}
.method p {
  color: #fff;
  margin-bottom: 0.9rem;
}

.solarPanel {
  position: relative;
}
.solarPanel .shape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  fill: #285852;
  z-index: 555;
  width: 100%;
  height: 60px;
}
.solarPanel .solarBox {
  padding: 100px;
  height: 100%;
  background-image: url(../images/solarpanelcleaning_ktv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}
.solarPanel .solarBox:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.4;
}
.solarPanel .solarBox .text-box {
  position: relative;
  z-index: 5;
}
.solarPanel .solarBox .text-box h3 {
  color: #fff;
  text-align: right;
}
.solarPanel .caption {
  padding: 100px;
  height: 100%;
  min-height: 800px;
  background: #3e7299;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 5;
}
.solarPanel .caption h2 {
  margin-bottom: 20px;
}
.solarPanel .caption p {
  color: #fff;
  margin-bottom: 20px;
}

.standardSolar {
  background: #285852;
  padding: 240px 0px 100px 0px;
}
.standardSolar .text-box p,
.standardSolar .text-box h3 {
  color: #fff;
  margin-bottom: 20px;
}

.safetyStand {
  padding: 240px 0px 100px 0px;
  background: #3e7299;
}
.safetyStand .text-box ul {
  padding-left: 20px;
}
.safetyStand .text-box ul li {
  list-style-type: disc;
  color: #fff;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
}
.safetyStand .text-box p,
.safetyStand .text-box h3 {
  color: #fff;
  margin-bottom: 20px;
}

.banner {
  background-image: url(../images/ktvdroneflag.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}
.banner .overlay {
  background-color: rgba(44, 90, 117, 0.4705882353);
  height: 330px;
}

.service {
  padding: 180px 0 40px 0;
  background: #285852;
}
.service .text-box {
  color: #fff;
}
.service .text-box h3,
.service .text-box h4,
.service .text-box p {
  color: #fff;
  margin-bottom: 20px;
}
.service .text-box h4 {
  font-size: 42px;
  line-height: 52px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 10px 0 20px;
}
.service .text-box h5 {
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.service .text-box .video-holder {
  margin-bottom: 20px;
  position: relative;
}
.service .text-box .video-holder .iconPlay {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.service .text-box .video-holder .iconPlay svg {
  width: 212px;
  height: 212px;
}

.advantages {
  padding: 240px 0 110px;
  background-image: url(../images/ktv_5505.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.advantages:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.71;
}
.advantages .container {
  position: relative;
  z-index: 55;
}
.advantages .text-box h4,
.advantages .text-box h3,
.advantages .text-box p {
  color: #fff;
}
.advantages .text-box h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.2;
  font-size: 32px;
}
.advantages .text-box p {
  margin-bottom: 0.9rem;
}

.inquiry {
  background: #F3F3F3;
  padding: 100px 0;
}
.inquiry h3 {
  margin-bottom: 20px;
}
.inquiry p {
  margin-bottom: 20px;
}
.inquiry .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inquiry form {
  max-width: 504px;
}
.inquiry form .form-group {
  margin-bottom: 14px;
}
.inquiry form .form-control {
  background-color: #fff;
  border-width: 0px 0px 0px 0px;
  border-radius: 8px;
  height: 59px;
}
.inquiry form textarea.form-control {
  height: auto;
}

.globalReach {
  background: #285852;
  padding: 140px 0 100px;
}
.globalReach .text-box h3,
.globalReach .text-box p {
  color: #fff;
  margin-bottom: 20px;
}

.locationContent {
  padding: 200px 180px 200px 180px;
}
.locationContent .caption h3 {
  font-size: 42px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
}
.locationContent .caption p {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.locationContent .text-box p {
  margin-bottom: 0.9rem;
}

.franchise {
  position: relative;
  background-color: #000;
  background-image: url(../images/kart_bluesss.png);
  min-height: 800px;
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.franchise:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.31;
}
.franchise .container {
  position: relative;
  z-index: 5;
}
.franchise .text-box h3,
.franchise .text-box p,
.franchise .text-box h4 {
  color: #fff;
  margin-bottom: 20px;
}
.franchise .text-box h4 {
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 52px;
}
.franchise .text-box p {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.working-growth {
  padding: 240px 0 70px 0;
  background-color: #F3F3F3;
}
.working-growth img {
  max-width: 100%;
}
.working-growth .text-box h3,
.working-growth .text-box p {
  margin-bottom: 0.9rem;
}

.standardSolar.aboutSetting {
  position: relative;
  background: #3e7299;
}
.standardSolar.aboutSetting .shape {
  fill: #285852;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  width: 100%;
}
.standardSolar.aboutSetting .settingStabdardBox {
  height: 100%;
}
.standardSolar.aboutSetting .text-box h3,
.standardSolar.aboutSetting .text-box p {
  color: #fff;
  margin-bottom: 0.9rem;
}

.futureDevelopment {
  position: relative;
  background: #F3F3F3;
}
.futureDevelopment .shape {
  fill: #3e7299;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  width: 100%;
}
.futureDevelopment .text-box h3 {
  color: #000;
}
.futureDevelopment .text-box h4 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 42px;
}
.futureDevelopment .text-box ul {
  padding-left: 20px;
}
.futureDevelopment .text-box ul li {
  list-style: disc;
}

.contactMap iframe {
  height: 511px;
  width: 100%;
}

.contact-location {
  padding: 100px 0;
  background: #F3F3F3;
}
.contact-location .titleText h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  line-height: 1.4;
  margin: 0;
}
.contact-location .titleText p {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact-location .text-box p {
  margin-bottom: 0.9rem;
}

.enquireForm {
  margin-top: 100px;
}
.enquireForm h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  line-height: 1.4;
  margin-bottom: 20px;
}
.enquireForm .form-group {
  margin-bottom: 14px;
}
.enquireForm .form-control {
  background-color: #fff;
  border-width: 0px 0px 0px 0px;
  border-radius: 8px;
  height: 59px;
}
.enquireForm textarea.form-control {
  height: auto;
}

header {
  background-color: #285852;
  padding: 21px 0;
  position: relative;
}
header .navigation {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}
header .navigation .navbar {
  padding: 0;
}
header .navigation .navbar .navbar-brand {
  padding: 0;
  margin: 0;
}
header .navigation .navbar .navbar-brand img {
  height: 74px;
}
header .navigation .navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}
header .navigation .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  padding: 0 15px;
}
header .navigation .navbar .navbar-nav .nav-item .nav-link.pertner-btn {
  border-radius: 8px;
  height: 44px;
  width: 194px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: #CD836D;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}
header .navigation .navbar .navbar-nav .nav-item:last-child {
  margin-left: 21px;
}

.header-shape {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -49px;
  z-index: 100;
}
.header-shape svg {
  height: 49px;
  -webkit-transform: translateX(0) rotateY(183deg);
          transform: translateX(0) rotateY(183deg);
  width: calc(100% + 1.3px);
  display: block;
}

.banner-sec {
  position: relative;
  margin: 0 0 -5px 0;
}
.banner-sec .banner-inner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 1390px;
  padding: 120px 0 0 0;
}
.banner-sec .banner-inner .banner-form {
  background-color: rgba(40, 88, 82, 0.93);
  padding: 57px;
  max-width: 475px;
  width: 100%;
  border-radius: 16px 80px 16px 80px;
}
.banner-sec .banner-inner .banner-form .text-box {
  margin: 0 0 35px 0;
}
.banner-sec .banner-inner .banner-form .text-box h3 {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 32px;
  font-family: "Al Qabas";
  font-weight: bold;
  margin: 0 0 24px 0;
}
.banner-sec .banner-inner .banner-form .text-box p {
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 14.4px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}
.banner-sec .banner-inner .banner-form form .form-group {
  margin-bottom: 10px;
}
.banner-sec .banner-inner .banner-form form .form-group .form-control {
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
  font-size: 12px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
}
.banner-sec .banner-inner .banner-form form .form-group .form-control:focus {
  border-color: transparent;
}
.banner-sec .banner-inner .banner-form form .form-group textarea.form-control {
  height: 106px;
  resize: none;
}
.banner-sec .banner-inner .banner-form form .form-group textarea.info-field {
  height: 58px;
}
.banner-sec .banner-inner .banner-form form .form-group .btn-default {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  height: 40px;
  max-width: 237px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-family: "Al Qabas";
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: #CD836D;
}

footer {
  background-color: #3e7299;
  padding: 22px 0;
}
footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-left p {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  padding-left: 10px;
}
footer .footer-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-right p {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1150px;
  }
}