header {
    background-color: $primary;
    padding: 21px 0;
    position: relative;
    .navigation {
        max-width: 1230px;
        width: 100%;
        margin: 0 auto;
        .navbar {
            padding: 0;
            .navbar-brand {
                padding: 0;
                margin: 0;
                img {
                    height: 74px;
                }
            }
            .navbar-nav {
                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px;
                    .nav-link {
                        color: $white;
                        text-transform: uppercase;
                        font-size: $font16;
                        @include Red_Hat_Display(500);
                        padding: 0 15px;
                        &.pertner-btn {
                            @include border_radius(8px);
                            height: 44px;
                            width: 194px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                            background-color: $orange;
                            @include Red_Hat_Display(700);
                        }
                    }
                    &:last-child {
                        margin-left: 21px;
                    }
                }
            }
        }
    }
}

.header-shape {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -49px;
    z-index: 100;
    svg {
        height: 49px;
        transform: translateX(0) rotateY(183deg);
        width: calc(100% + 1.3px);
        display: block;
    }
}