.standardSolar {
    &.aboutSetting {
        position: relative;
        background: $blue;

        .shape {
            fill: $primary;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 46px;
            width: 100%;
        }

        .settingStabdardBox {
            height: 100%;
        }

        .text-box {

            h3,
            p {
                color: $white;
                margin-bottom: 0.9rem;
            }
        }
    }
}

.futureDevelopment {
    position: relative;
    background: $whiteSecondary;

    .shape {
        fill: $blue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 46px;
        width: 100%;
    }

    .text-box {
        h3 {
            color: $black;
        }

        h4 {
            font-weight: normal;
            text-transform: uppercase;
            font-size: $font42;
        }

        ul {
            padding-left: 20px;

            li {
                list-style: disc;
            }
        }
    }
}